* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #555;
}

.header-title {
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
}

.header-title-text {
  align-items: center;
  color: #333;
}

.header-title-icons {
  padding: 0.4rem 1.6rem;
}

.header-title-icons:hover {
  background-color: #e9ecef;
}

.header-title-icon .header-title-icons:last-child:hover {
  background-color: #e03131;
  color: #fff;
}

.header-title-text img {
  margin-right: 0.4rem;
}

.header-toolbar {
  background-color: #f8f9fa;
  font-size: 1.4rem;
  padding: 0.2rem 0 0.2rem 0;
}

.toolbar-list,
.nav-bar-list,
.nav-bar-icons {
  list-style: none;
  text-decoration: none;
}

.toolbar-list-items:link,
.toolbar-list-items:visited {
  color: #555;
  text-decoration: none;
 padding: 0 1.1rem;
}

.toolbar-list-items:hover,
.toolbar-list-items:active {
  background-color: #339af0;
  color: #fff;
}

.header-nav-bar {
  background-color: #f0f2f4;
  border-top: 1px solid #e7eaed;
  border-bottom: 1px solid #e7eaed;
  align-items: center;
}

.nav-bar-list {
  gap: 2.4rem;
}

.nav-bar-list-items:link,
.nav-bar-list-items:visited {
  text-decoration: none;
  color: #444;
}

.nav-bar-search-box {
  padding: 0.5rem;
  border: 0.1rem solid #999;
  border-radius: 0.4rem;
}

.nav-bar-icon {
  list-style: none;
}

.nav-bar-icons {
  stroke: yellow;
  width: 2.4rem;
  height: 2.4rem;
}

/* .main {
}
.aside {
}
.footer {
} */
